<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper:根标签，namespace：命名空间，随便写，一般保证命名空间唯一 -->

<!--<mapper namespace="MyMapper">-->



  <!-- statement，内容：sql语句。id：唯一标识，随便写，在同一个命名空间下保持唯一
     resultType：sql语句查询结果集的封装类型,tb_user即为数据库中的表
   -->
  <!--<select id="selectUser" resultType="com.guxx.springboot.entity.pojo.User">-->
      <!--select * from user where id = #{id}-->
   <!--</select>-->
<!--</mapper>-->


<mapper namespace="UserDao">
  <!--使用别名-->
  <select id="queryUserById" resultType="com.guxx.springboot.entity.pojo.User">
    select id, user_name, password, name, age, birthday, sex, created, updated from user where id = #{id};
  </select>

  <select id="queryUserAll" resultType="com.guxx.springboot.entity.pojo.User">
    select * from user;
  </select>
</mapper>




  <!-- -       select-->
  <!--&#45;&#45;        tuser.id as id,-->
  <!--&#45;&#45;        tuser.user_name as userName,-->
  <!--&#45;&#45;        tuser.password as password,-->
  <!--&#45;&#45;        tuser.name as name,-->
  <!--&#45;&#45;        tuser.age as age,-->
  <!--&#45;&#45;        tuser.birthday as birthday,-->
  <!--&#45;&#45;        tuser.sex as sex,-->
  <!--&#45;&#45;        tuser.created as created,-->
  <!--&#45;&#45;        tuser.updated as updated-->
  <!--&#45;&#45;        from-->
  <!--&#45;&#45;        user tuser-->
  <!--&#45;&#45;        where tuser.id = #{id};-->